<style>

/*body{
	background: linear-gradient(to top right, darkgrey, black);
}

.container {
    margin-top: 78px;
    height: 800px;
    width: 800px;
    margin-left: 60px;
    border:1px solid #ffffff;
  }

#metatron-img{
	height:100%;
	width:auto;
}

h1,h2,h3,p{
	color: #4aaaaf;
	float: left;
	clear:both;
}

.crystals{
	height:100px;
	width: 100px;
}*/