

body{
	background-color: black;
	font-size: 14px;
}

.jumbotron{
	background: none;
	text-align: center;
	color: #ffffff;
}

#metatron-img{
	display: block;
	height:90%;
	width:auto;
	margin-left: 240px;
	z-index:0;
}

.main-content{
	border:3px solid #ffffff;
	text-align: center;
	margin-bottom:15px;
}

#score{
float: left;
clear: both;
text-align: center;
border:3px solid #fff;
margin-bottom: 15px;
}

#winsAndLosses{
	float:left;
	clear:both;
	text-align: center;
	border:3px solid #fff;
	margin-bottom: 15px;
}

#wins{

}

#losses{

}

h1,h2,h3,p{
	color: #4aaaaf;
}

.crystals{
	height:120px;
	width: 120px;
}

.container{
	height:1000px;
}

#crystal1{
	
}

#crystal2{

}

#crystal3{

}

#crystal4{

}

#crystal5{

}

#crystal6{

}

#targetNumber{
	
}