<style>

body{
	background-image: center;
}

.jumbotron{
	background: none;
}
/*
#metatron-img{
	background-repeat: no-repeat;
	height:100%;
	width:auto;
}*/

h1,h2,h3,p{
	color: #4aaaaf;
	float: left;
	clear:both;
}

.crystals{
	height:100px;
	width: 100px;
}

.container{
	height:2000px;
}

#crystal1{

}

#crystal2{

}

#crystal3{

}

#crystal4{

}

#crystal5{

}

#crystal6{

}

.footer{

}